/* HEADER  */
.searchForm {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 15px;
    background-size: 30px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;

    &:focus {
        border: 2px solid #41b294;
        outline: none;
    }
}

.collapse {
    justify-content: space-around;
}


.navbar-dark {
    .navbar-toggler {
        color: black;
        background-color: #f6ba35;
    }
}

.headerFixed {
    gap: 20px;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .15);
    background-color: var(--colorWhite);
    padding: 5px 50px;
    transition: all .5s;
    animation: fadeInDown .5s ease-in;
    width: 100%;

    
    .menu-overplay {
        position: fixed;
        background: #00000083;
        top: 0;
        right: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 19;

    }

    .menu {
      
        display: flex;
        flex-direction: column;
        width: 200px;
        position: fixed;
        z-index: 101;
        top: 0;
        right: 0;
        min-height: 100vh;
        background-color: #fff;

        button {
            margin-top: 10px;
            order: 2;
        }
    }

    .logo-user {
        text-align: center;
        cursor: pointer;

        p {
            display: none;
        }

        >span {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }


        }
    }

    .logo-user-cart {
        position: relative;

        &:hover {
            .user-cart-overplay {
                display: block;
            }
        }

        >a {
            margin: 12px 0;
            padding: 0 22px;
            display: inline-flex;
            align-items: center;
            height: 52px;
            position: relative;

            span {
                position: absolute;
                top: 5px;
                right: 10px;
                background: $mainColor;
                color: #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
            }
        }


    }

    .about-user-overplay {
        position: fixed;
        background: #00000083;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 19;

    }

    .about-user {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 0;
        min-height: 100vh;
        background-color: #fff;

        a {
            cursor: pointer;
            color: #000;
            display: flex;
            gap: 4px;
            align-items: center;
            padding: 16px;


            &:hover {
                color: #ccc;
            }

            &:nth-child(1) {
                display: flex;
                justify-content: center;
                border-bottom-width: inherit;
                border-bottom: 1px solid #cccccc94;
            }

            &:nth-child(2) {
                border-bottom-width: inherit;
                border-bottom: 1px solid #cccccc94;
            }
        }
    }
}





@include Reponsive ($lg) {
    .headerFixed {
        .about-user-overplay {
            left: 0;
            right: auto;
        }
    }
}


@include Reponsive ($md) {
    .headerFixed {
        .button-lg {
            display: none;
        }
        .menu {
            form {
                display: none;
            }
        }

        .logo-user {
            background: #f7f9fa;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 16px 0;
            font-weight: 700;

            span {
                width: 40%;
                margin-left: 8px;
            }

            p {
                width: 60%;
                text-align: left;
                margin: 0 6px;
                font-size: 12px;
                word-wrap: break-word;
                text-transform: capitalize;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        .nav-item {
            padding: 8px 16px;
        }

        .nav-link {
            padding: 0;
        }

        .about-user-overplay {
            right: 0;
            left: auto;
            z-index: 20;

        }

        .about-user {
            width: 200px;
            z-index: 102;
        }
    }
}

@include Reponsive ($sm) {
    nav {
        form {
            display: none;
        }
    }

    .headerFixed {

        .menu {
            form {
                margin: 12px;
                display: block;

                .searchForm {
                    margin: 0;
                }
            }
        }
    }
}

@include Reponsive ($xs) {
    .searchForm {
        margin-left: 0;
        margin-bottom: 12px;
    }

    .logo {
        padding-right: 50px;
    }

    .headerFixed {

        a>img {
            width: 200px;
        }

        .about-user {
            width: 160px;
            font-size: 12px;
        }

        .menu {
            width: 160px;

            form {
                display: block;
            }
        }
    }
}

@include Reponsive ($xxs) {

    .headerFixed {

        a>img {
            width: 180px;
        }

        .about-user {
            width: 160px;
            font-size: 12px;
        }

        .menu {
            width: 160px;

            form {
                display: block;
            }
        }
    }
}