.introduce {
    .swiper {
        .swiper-slide {
            img {
                display: inline-block;
                height: 80px;
                width: 80px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}