/* GLOBAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a:hover{
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}

body{
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.btnGlobal {
  padding: 5px 10px;
  background-color: #f6ba35;
  border: none;
  transition: all .5s;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}

.my-active {
  border-bottom: 2px solid #41b294;
}

/* HEADER  */
.searchForm {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
  margin-left: 15px;
  background-size: 30px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.collapse{
  justify-content:space-around;
}

.navbar-dark .navbar-toggler {
  color: black;
  background-color: #f6ba35 ;
}

.headerFixed {
  z-index: 999;
  /* position: fixed; */
  box-shadow: 0 2px 24px 0 rgba(0,0,0,.15);
  background-color: var(--colorWhite);
  padding: 5px 50px;
  transition: all .5s;
  animation: fadeInDown .5s ease-in;
  width: 100%;
}


.searchForm:focus {
    border: 2px solid #41b294;
    outline: none;
}

/* FOOTER  */

.footerPages {
  padding: 10px;
  background-color: #f0f8ff;
}

.footerBody {
  padding: 10px 40px;
}

.textLogo {
  color: #252525;
  font-family: "Poppins";
  display: inline-block;
  position: relative;
  font-size: 20px;
  transition: all .3s;
  text-shadow: 5px -2px 3px #54d2c0;
  font-weight: bolder;
}

.textLogo:hover {
  transition: all .5s;
  transform: scale(1.05);
}

.textE {
  font-size: 40px;
  color: #41b294;
  
}

.iconLogo {
  right: 5px;
  top: 15px;
  position: absolute;
}

.iconFooter {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #41b294;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all .5s;
}

.menuFooter li {
  padding: 5px 0;
  transition: all .5s;
  font-weight: 500;
}

.textCardTitle ul li:hover {
  transform: translateY(-2px);
  color: #01877e;
  cursor: default;
}

.formFooter {
  margin: 3px 0;
  outline: none;
  border: none;
  width: 300px;
  max-width: 100%;
  height: 40px;
  border: 2px solid #41b294;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #f5f5f5;
}

input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

.extraFooter {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  border-top: 1px solid #d0d0d0;
}

.iconSize {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  transition: all .3s linear;
}

.iconFooter {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #41b294;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all .5s;
}

.iconFooter:hover {
  opacity: 1;
}

.iconSize:hover {
  box-shadow: 1px 2px 2px 1px #636363;
}